# /etc/systemd/system
# systemd file for initiating the monitoring of uploads of ALL_WSPR.TXT in a specific directory
[Unit]
Description=Initiate the monitoring of uploads of ALL_WSPR.TXT in a specific directory
After=network-online.target

[Service]
User=wsprlive
Group=psacln
LimitNOFILE=65536
ExecStart=/YOUR_PASS_TO/pass_uploads.sh
Restart=always

[Install]
WantedBy=multi-user.target
Alias=pass-uploads.service
